@{
    ViewBag.Title = "Editor BPMN";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://unpkg.com/bpmn-js@11.4.1/dist/assets/diagram-js.css" />
    <link rel="stylesheet" href="https://unpkg.com/bpmn-js@11.4.1/dist/assets/bpmn-font/css/bpmn-embedded.css" />
    <link rel="stylesheet" href="https://unpkg.com/bpmn-js@11.4.1/dist/assets/bpmn-js.css" />
    <link rel="stylesheet" href="~/Content/styles.css" />
</head>
<body>

    <div class="editor-container">
        <div class="editor-header">
            <h1>Editor de Diagramas BPMN</h1>
        </div>
        <div class="editor-body">
            <!-- Contêiner fixo com degradê para a paleta -->
            <div class="editor-palette-container"></div>
            <!-- Contêiner do editor BPMN -->
            <div class="editor-diagrama-container">
                <div id="bpmn-container" class="editor-diagrama"></div>
            </div>
        </div>
        <div class="editor-footer">
            <label for="nome-fluxo">Nome do Fluxo:</label>
            <input type="text" id="nome-fluxo" placeholder="Digite o nome do fluxo" />
            <button id="salvar-diagrama" class="botao">Salvar Diagrama</button>
            <input type="file" id="importar-diagrama" accept=".xml" class="input-arquivo" />
        </div>
    </div>

    <script src="https://unpkg.com/bpmn-js@11.4.1/dist/bpmn-modeler.development.js"></script>
    <script src="~/Scripts/bpmn-diagrama.js"></script>

</body>
</html>
